body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    background: url(../img/space-background.jpg) repeat;
}

#main-content {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 970px;
    text-align: center;
}

.kingdom-attack,
.enemy-attack {
    width: 40%;
    padding: 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
}

.kingdom-attack {
    background-color: #EF562C;
    align-self: flex-start;
}

.enemy-attack {
    background-color: #88B14B;
    align-self: flex-end;
}

.info {
    align-self: center;
    background-color: #D1AF94;
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.winner,
.start-info {
    background-color: #F6D258;
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
}

.winner {
    width: 30%;
}

.start-info {
    width: 60%;
}

.img-winner {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}